@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

$body-bg: #FAFAFA;

$app-subheading: hsl(276, 100%, 81%); // - Pale Violet (sub-heading at the top of the app UI)
$app-chat-left: hsl(276, 55%, 52%); //- Moderate Violet (chat on the left)
$app-chat-right: hsl(271, 15%, 43%); //- Desaturated Dark Violet (chat on the right)
$app-bg: hsl(270, 20%, 96%);
$placeholder-text: hsl(206, 6%, 79%); //- Grayish Blue (placeholder text)

$main-heading: hsl(271, 36%, 24%); //- Very Dark Desaturated Violet (main heading)
$paragraph: hsl(270, 7%, 64%); // - Dark Grayish Violet (paragraph)

$gradient-magenta: hsl(293, 100%, 63%);
$gradient-violet: hsl(264, 100%, 61%);

$gradient-top-bg: hsl(279, 100%, 62%);
$gradient-top-bg-desktop: hsl(285, 100%, 63%);
$bg-figure-bg: hsl(290, 38%, 97%);

$submit-button-background: hsl(271, 36%, 24%);
$radio-button-outline: hsl(289, 100%, 72%);
$white: white;

$contact-color: hsl(300, 100%, 96%);
$options-button-color: hsl(300, 100%, 81%);
$app-chat-left-bg: #ECE6F4;

$shadow-color: hsla(266, 9%, 50%, 0.3);
$shadow-color-chat: hsla(266, 9%, 50%, 0.05);

$ff: 'Rubik', sans-serif;

$tablet: 425px;
$laptop: 768px;
$desktop: 1024px;
$xl: 1800px;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: url(./images/right-bg.svg);
  background-repeat: no-repeat;
  background-position: top 427px right -324px;

  @media screen and (min-width: $desktop) {
    background-position: bottom 0 right -187px;
  }

  @media screen and (min-width: $xl) {
    background-position: bottom 0 right calc(50vw - $xl / 2 - 187px);
  }

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 512px;
    height: 510px;
    border-radius: 0 0 256px 256px;
    background: linear-gradient(30deg, $gradient-violet, $gradient-top-bg);
    top: 0;
    left: -324px;

    @media screen and (min-width: $desktop) {
      background: linear-gradient(30deg, $gradient-violet, $gradient-top-bg-desktop);
      height: 700px;
      left: -92px;
    }

    @media screen and (min-width: $xl) {
      left: calc(50vw - $xl / 2 - 92px);
    }
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 64px 30px;

  @media screen and (min-width: $laptop) {
    flex-direction: row;
    gap: 64px;
  }

  @media screen and (min-width: $desktop) {
    gap: 125px;
  }

  &Message {
    order: 2;

    @media screen and (min-width: $tablet) {
      max-width: 28rem;
    }

    @media screen and (min-width: $laptop) {
      max-width: 22rem;
    }
    
    @media screen and (min-width: $desktop) {
      max-width: 28rem;
      margin-bottom: 69px;
    }
  }

  &Heading {
    padding: 0;
    margin: 64px 0 0;
    color: $main-heading;
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;

    @media screen and (min-width: $laptop) {
      text-align: left;
    }
  }

  &Paragraph {
    margin: 24px 0 0;
    color: $paragraph;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.725rem;
    text-align: center;

    @media screen and (min-width: $laptop) {
      text-align: left;
    }
  }
}

.app {
  background-color: $white;
  width: 247px;
  border-radius: 30px;
  position: relative;
  box-shadow: 0 18px 36px $shadow-color;
  order: 1;

  @media screen and (min-width: $desktop) {
    margin-left: 106px;
  }

  &InnerFrame {
    display: flex;
    flex-direction: column;
    margin: 10px 9px;
    background-color: $app-bg;
    border-radius: 20px;
  }

  &TopBar {
    background: linear-gradient(90deg, $gradient-violet, $gradient-magenta);
    display: flex;
    align-items: flex-end;
    height: 66px;
    padding: 0 6px 12px;
    margin: 1px 1px 0;
    border-radius: 20px 20px 5px 5px;
    box-shadow: 0 10px 10px $shadow-color-chat;

    .appBackArrow {
      width: 20px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        stroke: $contact-color;
      }
    }

    .appContactAvatar {
      display: flex;
      align-items: flex-end;

      &>img {
        width: 24px;
        height: 24px;
        border: 1px solid $white;
        border-radius: 50%;
      }
    }

    .appContact {
      flex: 1;
      margin-left: 8px;

      &Name {
        font-family: $ff;
        color: $contact-color;
        font-size: 11px;
        font-weight: 500;
      }

      &Status {
        font-family: $ff;
        color: $app-subheading;
        font-size: 8px;
        font-weight: 500;
        margin-top: 2px;
      }
    }

    .appOptionsButton {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        fill: $options-button-color;
      }
    }
  }

  &Fringe {
    position: absolute;
    width: 129px;
    height: 20px;
    background-color: $white;
    border-radius: 0 0 12px 12px;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.chat {
  padding: 10px 8px 5px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &Section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &InMessage {
    margin-right: auto;
    font-family: $ff;
    font-size: 8px;
    font-weight: 400;
    line-height: 10px;
    color: $app-chat-left;
    background-color: $app-chat-left-bg;
    padding: 7px 8px;
    max-width: 128px;
    border-radius: 10px 10px 10px 5px;
  }

  &OutMessage {
    margin-left: auto;
    font-family: $ff;
    font-size: 8px;
    font-weight: 400;
    color: $app-chat-right;
    background-color: $white;
    padding: 7px 8px;
    max-width: 128px;
    border-radius: 10px 10px 5px 10px;
    box-shadow: 0 7px 7px $shadow-color-chat;
  }

  &ImgDOGGOS {
    display: flex;
    justify-content: end;
    gap: 8px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 10px;
    }
  }

  &Banner {
    display: flex;
    align-items: center;
    padding-left: 8px;
    gap: 8px;
    width: 160px;
    height: 32px;
    border-radius: 10px 10px 10px 5px;
    background: linear-gradient(90deg, $gradient-magenta, $gradient-violet);
    
    box-shadow: 0 7px 7px $shadow-color-chat;

    &Icon {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 1px solid $radio-button-outline;
    }

    &Text {
      flex: 1;
      font-family: $ff;
      font-size: 8px;
      font-weight: 400;
      color: $contact-color;
    }

    &Price {
      font-family: $ff;
      font-size: 12px;
      font-weight: 700;
      color: $contact-color;
      margin-right: 16px;
    }

    &--first {
      margin-top: 2.2px;
    }
  }
}

.appInput {
  position: relative;
  margin: 11px 8px 11px;
  padding-left: 19px;
  padding-top: 2px;
  height: 34px;
  border-radius: 17px;
  background-color: #fff;

  font-family: $ff;
  font-size: 9px;
  color: $placeholder-text;
  display: flex;
  align-items: center;

  &SubmitButton {
    position: absolute;
    right: 5;
    top: 5;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $main-heading;
    display: flex;
    justify-content: center;
    align-items: center;

    & > svg {
      margin-left: 2px;
      stroke: $white;
    }
  }
}

.attribution {
  display: none;

  @media screen and (min-width: $desktop) and (min-height: 650px) {
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 11px;
    text-align: center;
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
